/* Styles for the register page */
body {
    background-color: #1d1d1d;
    color: #c3c3c3;
}

.register form {
    max-width: 40rem;    
}

.register .field {
    margin-bottom: 1rem;
}

.register label {
    display: block;
}

.register input {
    display: block;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}

.register button {
    padding: .5rem;
}

.container h1 {
    text-align: center;
    margin: 6vh 0;
}

#registration-form {
    margin: 0 auto;
}

#lectures {
    height: 35px;
    width: 50%;
}

.draw-border {
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
  }
  .draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
  }
  .draw-border:hover {
    color: #ffe695;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffdc6b;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }

  .btnRegister {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    width: 50%;
    min-height: 6vh;
    font-size: 16px;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }

@media only screen and (max-width: 768px) {
    .register {
        margin: 0 5vw;
    }
}

@media only screen and (max-width: 500px) {
    #lectures {
        width: 100%;
    }

    .btnRegister {
        width: 100%;
        margin-bottom: 20px;
    }
}