.articleAbout {
    color: white;
    column-count: 3;
    column-gap: 6rem;
    margin: 10vh auto;
    width: 80%;
    text-align: justify;
    line-height: 24px;
    border-bottom: 1px solid white;
    padding-bottom: 6vh;
}

.articleAbout h2 {
    margin: 2vh 0;
}

.infos {
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.adres span {
    margin: 1vh 0;
}

.infos div span {
    display: block;
}

.socialMediaLinks div {
    margin: 2vh 0;
    font-size: 20px;
    cursor: pointer;
}

.socialMediaLinks i {
    font-size: 34px;
}

.kontakt div {
    margin: 2vh 0;
    font-size: 20px;
}

.kontakt i {
    font-size: 34px;
    margin-bottom: 5px;
}

.adres span {
    font-size: 20px;
}

.infos__header {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .articleAbout {
        column-count: 2;
    }
}


@media only screen and (max-width: 768px) {
    .articleAbout {
        column-count: 1;
    }

    .infos {
        display: block;
        text-align: center;
    }

    .socialMedia {
        margin-left: 0;
        margin-bottom: 5vh;
    }

    .adres {
        margin-bottom: 5vh;
    }

    .adres h1 {
        font-size: 28px;
    }

    .infos__header {
        display: block;
        font-size: 32px;
        padding: 10px 10px 40px;
    }

    .socialMediaLinks {
        margin: 0 auto;
        border-bottom: 2px solid white;
        width: 300px;
        padding-bottom: 20px;
    }

    .adres {
        margin: 0 auto;
        border-bottom: 2px solid white;
        width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .kontakt {
        margin: 0 auto;
        width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}