section.sectionConfa {
    height: 38vh;
    background-image: url("../Images/bcgslider.jpg");
    background-position: center;
    border-bottom: 4px solid #1d1d1d;
}

section.sectionConfa h1, section.sectionSchedule h1 {
    margin: 0;
    font-size: 4rem;
    padding-top: 3vh;
}

section.sectionConfa p, section.sectionSchedule p {
    font-size: 1.5rem;
    font-style: italic;
}

section.sectionSchedule {
    height: 38vh;
    margin-top: 2vh;
    background-image: url("../Images/bcgslider.jpg");
    background-position: center;
    border-bottom: 4px solid #1d1d1d;
}

.containerInfo {
    position: relative;
    top: 30%;
    display: flex;
    justify-content: space-around;
    color: white;
    height: 38vh;
}

@media only screen and (max-width: 1440px) {
    section.sectionConfa h1, section.sectionSchedule h1 {
        font-size: 3rem;
    }    
}

@media only screen and (max-width: 1280px) {
    section.sectionConfa h1, section.sectionSchedule h1 {
        font-size: 2rem;
    }    
}

@media only screen and (max-width: 768px) {
    .containerInfo {
        display: block;
        text-align: center;
        top: 20%;
    }
}

@media only screen and (max-width: 360px) {
    section.sectionConfa h1, section.sectionSchedule h1 {
        font-size: 1.5rem;
    }
    section.sectionConfa p, section.sectionSchedule p {
        font-size: .8rem;
        font-style: italic;
    }   
}
